*{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* ----------------------------------- */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1300px;
    background-color: white;
    z-index: 100;
}
.header .blog{
    padding: 5px;
    padding-left: 20px;
    font-size: 200%;
    color: gray;
}
.header a{
    font-weight: bold;
    color: white !important;
}
.header a:hover{
    font-weight: bold;
    color: teal !important;
    background-color: white;
}
#about{
    background-color: white;
    color: teal !important;
}
.body-content{
    margin-top: 90px;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-gap: 2%;
    overflow:auto;
}
.navbar{
    padding: 1px !important;
}
.end{
    padding: 20px;
}
.end-signature {
    border-top: 2px solid gray;
    text-align: center;
}
.page-direction{
    font-size: 80%;
}
.about{
    padding-left: 20px;
}
.about-title{
    font-size: 200%;
}
.login-content{
    font-size: 80%;
}
.login-form label{
    margin-top: 8px;
}
.login-hint{
    margin: 8px 0px;
    font-size: 80%;
}
.login-remember{
    font-size: 90%;
}
.submit{
    margin: 8px 0px;
}
