*{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    box-sizing: border-box;
}
body{
    margin: 0px;
}
/* ----------------------------------- */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1300px;
    background-color: white;
}
.header .blog{
    padding: 5px;
    padding-left: 20px;
    font-size: 200%;
    color: gray;
}
.header a{
    font-weight: bold;
    color: white !important;
}
.header a:hover{
    font-weight: bold;
    color: teal !important;
    background-color: white;
}
#home{
    background-color: white;
    color: teal !important;
}
.body-content{
    margin-top: 90px;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2%;
}
.navbar{
    padding: 1px !important;
}
.body-content .body-content-left{
    max-width: 100%;
    min-width: 1000px;
    left: 10px;
    overflow:hidden;
}
.body-content-left .post{
    margin: 20px 0px;
}
.body-content-left .post-title{
    font-size: 150%;
}
.body-content-left .post-day-create,.post-day-update{
    color: gray;
    font-size: 90%;
}
.body-content-left .post-day-update{
    color: gray;
}
.body-content-left .post-content{
    text-indent: 20px;
    padding: 10px;
}
.body-content-left .post-tags-cmts{
    background-color: rgba(0, 128, 128, 0.1);
    border-radius: 4px;
    padding: 5px;
    font-size: 90%;
}
.body-content .body-content-right{
    width: 200px;
    top: 110px;
}
.end{
    padding: 20px;
}
.end-signature {
    border-top: 2px solid gray;
    text-align: center;
}
.tag-part, .recent-cmts{
    background-color: rgba(0, 128, 128, 0.262);
    border-radius: 3px;
    font-size: 90%;
}
.title-tag{
    background-color: rgba(0, 128, 128, 0.344);
    border-left: 5px solid teal;
    padding: 5px;
    padding-left: 5px;
}
.tags, .cmts{
    padding: 5px;
}
#post-comment {
    color: #00ccdb;
}
#post-comment:hover{
    cursor: pointer;
    text-decoration: #00ccdb;
    color: #01a9b7;
}
.new-cmt{
    width: 300px !important;
    background-color: lightblue !important;
    border-radius: 5px !important;
    border: none !important;
}
#submit-cmt{
    height: 24px;
    padding: 0px;
    width: 100px;
    background-color: #01a9b7;
    border: none;
    border-radius: 3px;
}
.form-cmt-post{
    margin-left: 80px;
}
#LoadMore{
    border: none;
    background-color: #01a9b7;
    border-radius: 5px;
    color: white;
}
